*{
    box-sizing: border-box;
}
html{
    background-color: #6d8ea0;
}
a{
    text-decoration: none;
    color: #016fb9;
    background-color: rgba(69, 69, 69, 0.08);
    border-radius: 20%;
}
h1{
    font-size: 75px;
    text-align: center;
}
p{
    font-weight: bold;
}
#top{
    text-align: center;
}
#TimeTitles{
    color: #afa98d;
}
img{
    height: 600px;
    width: 600px;
}
#morelink{
    text-decoration: underline;
    color: #afa98d;
}
#middle{
    background-color: rgb(175, 169, 141, .3);
    margin-top: 150px;
}
#bottom{
    background-color: rgb(175, 169, 141, .3);
}