*{
    box-sizing: border-box;
}
html{
    background-color: #6d8ea0;
}
a{
    text-decoration: none;
    color: #016fb9;
}
h1{
    font-size: 75px;
    text-align: center;
}
p{
    font-weight: bold;
}
#top{
    text-align: center;
}
#TimeTitles{
    color: #22aed1;
}
img{
    height: 400px;
    width: 400px;
}
#morelink{
    text-decoration: underline;
    color: #afa98d;
}
#middle{
    background-color: rgb(175, 169, 141, .3);
}
#bottom{
    background-color: rgb(175, 169, 141, .3);
}