*{
    box-sizing: border-box;

}
html{
    background-color: #6d8ea0;
}
h1{
    font-size: 65px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #182825;
}
img{
    height: 300px;
    width: 250px;
}
#BurgerBites,#EggBites,#Bolognese{
    float: left;
    width: 380px;
    margin: 15px;
    padding-right: 40px;
    font-weight: bold;
    font-size: 30px;
    color: #182825;
    text-align: center;
    background-color: #afa98d;
    border: 3px solid rgba(69, 69, 69, 0.1);
}
.WelcomeBar{
    font-family: 'Phudu', cursive, sans-serif;
    font-family: 'Source Code Pro', monospace;
    color: white;
    text-align: center;
    color: #182825;
}